.right-dashboard-section-user .user-container .header {
  width: 100%;
}
.right-dashboard-section-user .user-container .header .leave {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 20%;
}
.right-dashboard-section-user .user-container .header .leave .text {
  margin-left: 10px;
  color: #545f7d;
  font-weight: 400;
  font-size: 16px;
}
.right-dashboard-section-user .user-container .header .head-details {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
}
.right-dashboard-section-user .user-container .header .head-details .action button {
  background: none;
  border-radius: 8px;
  border: 1px solid #e4033b;
  font-family: inherit;
  color: #e4033b;
  font-size: 14px;
  font-weight: 600;
  margin-right: 20px;
  cursor: pointer;
  position: relative;
  transition: 0.3s all ease-in-out;
  background: white;
  text-transform: uppercase;
  width: 170px;
  height: 40px;
}
.right-dashboard-section-user .user-container .header .head-details .action button:hover {
  background-color: #e4033b;
  color: white;
}
.right-dashboard-section-user .user-container .header .head-details .action button:first-child.blacklisted::before {
  content: "Blacklisted!";
  display: inherit;
  position: absolute;
  top: 0%;
  left: 0;
  color: #e4033b;
  animation: animate 0.5s normal;
}
@keyframes animate {
  0% {
    top: 0;
  }
  100% {
    top: -50%;
  }
}
.right-dashboard-section-user .user-container .header .head-details .action button.activate {
  margin: 0;
  color: #39cdcc;
  border: 1px solid #39cdcc;
}
.right-dashboard-section-user .user-container .header .head-details .action button.activate:hover {
  background: #39cdcc;
  color: white;
}
.right-dashboard-section-user .user-container .header .head-details .action button.activate.activated::before {
  content: "Activated!";
  display: inherit;
  position: absolute;
  top: 0%;
  left: 0;
  color: #39cdcc;
  animation: animate 0.5s normal;
}
.right-dashboard-section-user .user-details-container {
  width: 100%;
  background: white;
  box-shadow: 0px 0px 8px 0px rgba(33, 63, 125, 0.06);
  padding: 30px;
  padding-bottom: 0;
  margin-top: 35px;
}
.right-dashboard-section-user .user-details-container .user-content {
  width: 100%;
  display: flex;
  align-items: center;
}
.right-dashboard-section-user .user-details-container .user-content .content {
  padding-right: 30px;
  border-right: 1px solid rgba(84, 95, 125, 0.2);
  height: 100%;
}
.right-dashboard-section-user .user-details-container .user-content .content:last-child {
  border: none;
}
.right-dashboard-section-user .user-details-container .user-content .content.user-profile {
  display: flex;
  align-items: center;
}
.right-dashboard-section-user .user-details-container .user-content .content.user-profile .wrap {
  padding-left: 20px;
}
.right-dashboard-section-user .user-details-container .user-content .content.user-profile .wrap h3 {
  font-size: 22px;
  font-weight: 500;
  color: #213f7d;
  padding-bottom: 8px;
}
.right-dashboard-section-user .user-details-container .user-content .content.user-profile .wrap p {
  font-size: 14px;
  font-weight: 400;
  color: #545f7d;
}
.right-dashboard-section-user .user-details-container .user-content .content.user-tier {
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.right-dashboard-section-user .user-details-container .user-content .content.user-tier p {
  font-size: 14px;
  font-weight: 500;
  color: #545f7d;
  padding-bottom: 15px;
}
.right-dashboard-section-user .user-details-container .user-content .content.user-tier .ratings {
  width: 100%;
  display: flex;
  align-items: center;
}
.right-dashboard-section-user .user-details-container .user-content .content.user-tier .ratings svg {
  margin-right: 5px;
  cursor: pointer;
}
.right-dashboard-section-user .user-details-container .user-content .content.user-tier .ratings svg:last-child {
  margin: 0;
}
.right-dashboard-section-user .user-details-container .user-content .content.user-saving {
  padding-left: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: #213f7d;
}
.right-dashboard-section-user .user-details-container .user-content .content.user-saving h3 {
  font-size: 22px;
  font-weight: 500;
  padding-bottom: 15px;
}
.right-dashboard-section-user .user-details-container .user-content .content.user-saving h3 span {
  text-decoration: line-through;
}
.right-dashboard-section-user .user-details-container .user-content .content.user-saving p {
  font-family: Work Sans;
  font-size: 12px;
  font-weight: 400;
}
.right-dashboard-section-user .user-details-container .user-detail-table {
  width: 100%;
  margin-top: 40px;
}
.right-dashboard-section-user .user-details-container .user-detail-table .detail-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-dashboard-section-user .user-details-container .user-detail-table .detail-container .item {
  padding: 0 20px;
  text-align: center;
  padding-bottom: 8px;
  border-bottom: 2px solid #39cdcc;
  border: none;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.right-dashboard-section-user .user-details-container .user-detail-table .detail-container .item p {
  font-size: 16px;
  font-weight: 400;
}
.right-dashboard-section-user .user-details-container .user-detail-table .detail-container .item.active {
  border-bottom: 2px solid #39cdcc;
  color: #39cdcc;
}
.right-dashboard-section-user .user-details-container .user-detail-table .detail-container .item:hover {
  border-bottom: 2px solid #39cdcc;
  color: #39cdcc;
}
.right-dashboard-section-user .user-portfolio {
  width: 100%;
  background: white;
  box-shadow: 0px 0px 8px 0px rgba(33, 63, 125, 0.06);
  padding: 30px;
  padding-bottom: 10px;
  margin-top: 35px;
}
.right-dashboard-section-user .user-portfolio .information {
  width: 100%;
  color: #213f7d;
  border-bottom: 1px solid rgba(84, 95, 125, 0.2);
}
.right-dashboard-section-user .user-portfolio .information:last-child {
  border: none;
}
.right-dashboard-section-user .user-portfolio .information h3 {
  font-size: 16px;
  font-weight: 500;
  padding-top: 30px;
}
.right-dashboard-section-user .user-portfolio .information:first-child h3 {
  padding: 0;
}
.right-dashboard-section-user .user-portfolio .information .details {
  width: 100%;
  padding: 25px 0;
  padding-bottom: 20px;
  max-width: 911px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  gap: 30px;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.right-dashboard-section-user .user-portfolio .information .details .detail {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}
.right-dashboard-section-user .user-portfolio .information .details .detail .head {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.right-dashboard-section-user .user-portfolio .information .details .detail p {
  font-size: 16px;
  font-weight: 500;
}
.right-dashboard-section-user .user-portfolio .information .details .detail p span {
  text-decoration: line-through;
}
.right-dashboard-section-user .user-portfolio .information:first-child .details {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media only screen and (max-width: 690px) {
  .right-dashboard-section-user {
    overflow-x: hidden;
  }
  .right-dashboard-section-user .user-container .header {
    width: 100%;
  }
  .right-dashboard-section-user .user-container .header .leave {
    width: 60%;
  }
  .right-dashboard-section-user .user-container .header .head-details {
    flex-direction: column;
    align-items: flex-start;
  }
  .right-dashboard-section-user .user-container .header .head-details .action {
    padding-top: 20px;
  }
  .right-dashboard-section-user .user-container .header .head-details .action button {
    padding: 9px 12px;
    font-size: 13px;
  }
  .right-dashboard-section-user .user-container .header .head-details .action button.activate {
    margin-top: 20px;
  }
  .right-dashboard-section-user .user-details-container {
    overflow-x: scroll;
  }
  .right-dashboard-section-user .user-details-container .user-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .right-dashboard-section-user .user-details-container .user-content .content {
    padding-right: 0;
    height: 100%;
    border: none;
    margin-bottom: 20px;
  }
  .right-dashboard-section-user .user-details-container .user-content .content:last-child {
    margin: 0;
  }
  .right-dashboard-section-user .user-details-container .user-detail-table {
    overflow-x: scroll;
  }
  .right-dashboard-section-user .user-details-container .user-detail-table .detail-container {
    width: 150%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .right-dashboard-section-user .user-details-container .user-detail-table .detail-container .item {
    padding: 0 20px;
    text-align: center;
    padding-bottom: 8px;
    border-bottom: 2px solid #39cdcc;
    border: none;
    cursor: pointer;
    transition: 0.1s ease-in-out;
  }
  .right-dashboard-section-user .user-details-container .user-detail-table .detail-container .item p {
    font-size: 14px;
    font-weight: 400;
  }
  .right-dashboard-section-user .user-details-container .user-detail-table .detail-container .item.active {
    border-bottom: 2px solid #39cdcc;
    color: #39cdcc;
  }
  .right-dashboard-section-user .user-details-container .user-detail-table .detail-container .item:hover {
    border-bottom: 2px solid #39cdcc;
    color: #39cdcc;
  }
  .right-dashboard-section-user .user-portfolio .information .details {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
  .right-dashboard-section-user .user-portfolio .information .details .detail p {
    font-size: 14px;
  }
  .right-dashboard-section-user .user-portfolio .information:first-child .details {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
  .right-dashboard-section-user .user-portfolio .information:first-child .details .detail p {
    font-size: 14px;
  }
}
@media only screen and (min-width: 690px) and (max-width: 768px) {
  .right-dashboard-section-user .user-container .header {
    width: 100%;
  }
  .right-dashboard-section-user .user-container .header .leave {
    width: 30%;
  }
  .right-dashboard-section-user .user-details-container .user-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .right-dashboard-section-user .user-details-container .user-content .content {
    padding-right: 0;
    height: 100%;
    border: none;
    margin-bottom: 20px;
  }
  .right-dashboard-section-user .user-details-container .user-content .content:last-child {
    margin: 0;
  }
  .right-dashboard-section-user .user-portfolio .information .details .detail p {
    font-size: 14px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .right-dashboard-section-user .user-container .header {
    width: 100%;
  }
  .right-dashboard-section-user .user-container .header .leave {
    width: 30%;
  }
  .right-dashboard-section-user .user-details-container .user-content {
    height: 100px;
  }
  .right-dashboard-section-user .user-portfolio .information .details .detail p {
    font-size: 14px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .right-dashboard-section-user .user-container .header {
    width: 100%;
  }
  .right-dashboard-section-user .user-container .header .leave {
    width: 30%;
  }
  .right-dashboard-section-user .user-details-container .user-content {
    height: 100px;
  }
  .right-dashboard-section-user .user-portfolio .information .details .detail p {
    font-size: 13px;
  }
}/*# sourceMappingURL=RightSectionDashboardUser.css.map */